.darken{
    width: 100%;
    height: calc(100%);
    position: fixed;
    top: 0;
    background-color: rgba(31, 30, 30, 0.884);
}

.inactive{
    display: none !important
}

.lower{
    opacity: 0.1;
}